h1 {
    color: #00ddff;
    font-weight: bold;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

table, table th, table td {
    border: 1px solid #000;
}

table th {
    background-color: #7bff00;
    text-align: center;
    width: 100px;
}

table td {
    font-weight: bold;
}

table caption {
    font-size: 25px;
}

table .lmsgi {
    background-color: #c180ff;
}

table .ped {
    background-color: greenyellow;
}

table .bd {
    background-color: orange;
}

table .si {
    background-color: deeppink;
}

table .ipoi {
    background-color: aqua;
}